* {
	box-sizing: border-box;
	background-color: black;
	color: white;
	border: 1px solid red;
}

body {
	margin: 0;
	padding: 0;
}

.clickHere {
	background-color: rgb(31, 118, 118);
	border: 2px solid rgb(29, 71, 149);
	height: 400px;
	width: 400px;
	cursor: pointer;
}
.title::before {
	content: "Money: ";
}

.gameWrapper {
	display: flex;
	flex-wrap: wrap;
}

main {
	display: flex;
	flex-wrap: wrap;
}
main section {
	width: 50%;
}
