* {
	box-sizing: border-box;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	/* background: linear-gradient(
		to right,
		rgb(183, 255, 167),
		rgb(184, 184, 248),
		rgb(183, 255, 167)
	); */
	background-color: rgb(183, 255, 167);
	width: 100%;
	height: 100vh;
	transition: background-color 400ms;
}

.clickHere {
	background-image: url(/images/rock.jpg);
	height: 400px;
	width: 400px;
	cursor: pointer;
	border: 2px solid rgb(13, 186, 255);
}
.title::before {
	content: "Money: ";
}

.gameWrapper {
	display: flex;
	flex-wrap: wrap;
}

main {
	display: flex;
	flex-wrap: wrap;
}
main section {
	width: 50%;
}

i,
h1 {
	font-size: 2rem;
}
.titleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 2%;
}
.character {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.gameWrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
header {
	background: linear-gradient(to top, rgb(172, 245, 245), rgb(15, 253, 174));
}

.cps::before {
	content: "CPS:";
}

.moneyWrapper,
.storeTitleWrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.title,
.cps,
.storeTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid rgb(13, 186, 255);
	padding: 1%;
	border-radius: 8px;
	background-color: rgb(172, 245, 245);
}

.gold {
	color: gold;
}

main section {
	border: 2px solid rgb(13, 186, 255);
}

.item {
	border: 2px solid rgb(13, 186, 255);
	width: 80%;
	background-color: rgb(244, 255, 188);
	display: flex;
	flex-wrap: wrap;
}
.item * {
	color: black;
}

img {
	height: 100px;
}

.store {
	display: flex;
	flex-wrap: wrap;
}

.store.helpers {
	display: flex;
	flex-wrap: wrap;
}

.pickaxe {
	position: absolute;
	right: 120px;
}

@keyframes pickSpin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-90deg);
	}
}

@media screen and (max-width: 500px) {
	.pickaxe {
		right: 20px;
	}
}
