* {
	box-sizing: border-box;
	/* background-color: rgb(69, 238, 224); */
	color: white;
	/* border: 1px solid red; */
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, rgb(183, 255, 167), rgb(184, 184, 248));
}

.clickHere {
	background-color: rgb(31, 118, 118);
	border: 2px solid rgb(29, 71, 149);
	height: 400px;
	width: 400px;
	cursor: pointer;
}
.title::before {
	content: "Money: ";
}

.gameWrapper {
	display: flex;
	flex-wrap: wrap;
}

main {
	display: flex;
	flex-wrap: wrap;
}
main section {
	width: 50%;
}
section {
	border: 4px solid black;
}
i,
h1 {
	font-size: 2rem;
}
.titleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 2%;
}
.character {
	display: flex;
	justify-content: center;
	align-items: center;
}
.gameWrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
